/* hr {
  border: 0;
  width: 96%;
  border-radius: 2px;
  clear: both;
  background-color: rgb(0, 0, 0);
  height: 2px;
}
p {
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  right: 30px;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "JMH Typewriter";
  letter-spacing: 1px;
  font-weight: 100;
}
.card {
  background: rgb(236, 246, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.title {
  color: white;
  text-align: center;
}

.credit {
  font-size: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 100;
  letter-spacing: 5px;
}
.category-bubble {
  outline: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  height: 40px;
  width: 300px;
  margin-bottom: 15px;
}

.category-name {
  max-width: 100px;
  height: 38px;
  border: 2px solid rgba(0, 0, 0, 0.975);
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 20px 0px 0px 20px;
  margin-left: 5px;
  font-size: 17px;
  text-align: center;
}
.category-name:focus {
  outline: none;
}
.category-name::placeholder {
  color: black;
  opacity: 0.65;
}

.category-percent {
  margin-right: -10px;
  border: 2px solid black;
}
.input-field {
  border-radius: 5px;
  width: fit-content;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgb(0, 0, 0);
  border-style: none;
}
.percent {
  width: 40px;
}
.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 10px;
  width: 360px;
}
.move-up {
  margin-top: -30px;
}
.move-down {
  margin-top: 20px;
}
.vl {
  border-left: 2px solid black;
  height: 40px;
}
.main {
  height: 1000px;
  background-color: rgb(201, 236, 246);
} */
/* .add-remove {
  position: relative;
  left: 110px;
  bottom: 5px;
} */

/* @media (min-width: 640px) {
  .category-bubble {
    width: 1000px;
  }
  .category-name {
    max-width: 400px;
  }
  .header {
    margin-top: 10px;
    width: 1060px;
  }
  .margin-right {
    margin-right: 30px;
  }
  .move-down {
    margin-top: 100px;
  }
  .percent-bubble {
    margin-left: -200px;
    margin-right: 50px;
  }
  .vl {
    margin-right: 100px;
    padding-right: 30px;
  }
  .add-remove {
    position: relative;
    left: 480px;
    bottom: 5px;
    transform: scale(125%);
  }
} */
